<% form_actions = capture do %>
  <div class='form-actions'>
    <div class='form-actions-left'>
      <a class='button js-page-options-add'><%= I18n.t('refinery.js.admin.page_options.done') %></a>
    </div>
  </div>
<% end %>